// *
// * Card
// *
.card {
  width: 100%;
  margin: 0 0 auto auto;
  background: $dark-color;
  font-family: 'Segoe UI';
  display: flex;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: #363636 solid 1px;
  line-height: 20px;

  &-content {
    width: 480px;
    margin-left: 20px;
    position: relative;

    &-date {
      font-size: 16px;
      color: #F1F1F1;
      margin-top: auto; 
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &-img {
    margin: 0 0 auto auto;
  }
}