// *
// * Card
// *
.card {
  width: 600px;
  margin: 0 0 auto auto;
  background: $dark-color;
  font-family: 'Segoe UI';
  display: flex;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: #363636 solid 1px;

  &-content {
    margin-top: 10px;
    width: 371px;
    &-title {
      font-size: 24px;
      line-height: 28px;
    }
    &-content {
      font-size: 16px;
      line-height: 22px;
      color: $gray-color;
    }
    &-date {
      font-size: 16px;
      color: $gray-color;
      margin-top: auto; 
      margin-bottom: 0;
    }
  }
  .card-img {
    margin: 0 0 auto auto;
  }
}