@import './assets/sass/App.scss';

@font-face {
  font-family: 'Segoe UI';
  font-weight: 400;
  font-style: semibold;
  src: url('assets/fonts/segoe _ui_semibold.ttf') format('ttf');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", "Lovelo", "Segoe UI";
  background-color: $dark-color;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
